<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="UMENG_APPKEY" value="54a0e798fd98c56c8000077f" required="1" showName="AppKey" desc="友盟分析统计" bWriteInManifest="1" bWriteInClient="0" />
        <param name="UMENG_CHANNEL" value="Channel" required="1" showName="渠道号（通过自定义脚本，动态设置为渠道名称）" desc="友盟分析统计" bWriteInManifest="1" bWriteInClient="0" />
        <param name="UMENG_PAYSOURCE" value="21" required="1" showName="支付来源(友盟后台添加，从20之后开始)" desc="友盟分析统计" bWriteInManifest="0" bWriteInClient="1" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
        <operation step="5" type="script" from="script.py" to="" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.UMAnalytics" type="5" desc="统计分析插件"/>
    </plugins>

    <version>
        <name>友盟统计插件</name>
        <versionCode>1</versionCode>
        <versionName>5.5.3.0</versionName>
    </version>    
    
</config>